{
  "env" : {
    "node" : true,
    "amd" : true,
    "jquery" : true,
    "mocha" : true,
    "phantomjs" : true,
    "browser" : ture
  },
  "rules" : {
    [2, "double", "avoid-escape"]
  },
  "globals": {
    "assert": true
  }
}