.sl-layout {
  width: 100%;
  opacity: 1;
  position: relative;
  min-height: 100px;
  float: left;
  transition: opacity .2s, background .2s;
  .block-placeholder {
    background-color: $block-placeholder-background-color;
    border: 1px dotted $block-placeholder-border-color;
    width: 100%;
    margin:-1px;
    min-height: 100px;
    float: left;
  }
  &.ui-sortable-helper {
    opacity: .9;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 1);
    padding: 5px;
  }
  &:hover .sl-toolbar-layout {
    opacity: 1;
  }
  &.animated {
    opacity: 0;
    background: $block-placeholder-background-color;
  }
}
