.sl-column {
  vertical-align: top;
  min-height: 40px;
  padding: 2px;
  box-sizing: border-box;
  border-right: 1px solid $column-border-color;
  float: left;
  &:last-child {
    border-right: none;
  }

  @while $column-count-total > 0 {
    &.sl-col-#{$column-count-total} { width: (100 / $column-count-total) * 1%; }
    $column-count-total: $column-count-total - 1;
  }

}

