.sl-column {
  vertical-align: top;
  min-height: 100px;
  padding: 2px;
  box-sizing: border-box;
  float: left;
  background: $column-background-color;
  &:last-of-type {
    border-right: none;
  }

  @while $column-count-total > 0 {
    &.sl-col-#{$column-count-total} { width: (100 / $column-count-total) * 1%; }
    $column-count-total: $column-count-total - 1;
  }

}

