.sl-column {
  min-height: 200px;
  float: left;
  background: $column-background-color;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #a9a9a9;
  border-right: none;
  border-bottom: none;
  &:before {
    content : "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: inherit;
    background: $column-background-color;
    margin-left: -11px;
    border: 1px solid $column-border-color;
    z-index: -1;
  }

  @while $column-count-total > 0 {
    &.sl-col-#{$column-count-total} { width: (100 / $column-count-total) * 1%; }
    $column-count-total: $column-count-total - 1;
  }

}

