.sl-layout {
  width: 100%;
  opacity: 1;
  position: relative;
  margin-bottom: 2px;
  min-height: 100px;
  display: inline-block;
  .placeholder {
    background-color: $block-placeholder-background-color;
    border: 1px dotted $block-placeholder-border-color;
  }
  &.ui-sortable-helper {
    opacity: .9;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .3);
  }
  &:hover .sl-toolbar {
    opacity: 1;
  }
}
