.sl-layout {
  display: table;
  width: 100%;
  opacity: 1;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px $column-border-color;
  margin-bottom: 2px;
  min-height: 40px;
  background: $column-background-color;
  .placeholder {
    background-color: $block-placeholder-background-color;
    border: 1px dotted $block-placeholder-border-color;
  }
  &.ui-sortable-helper {
    opacity: .9;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .3);
  }
  &.deleted {
    opacity: .6;
    background-color: #ff5400;
  }
  &.cancelDeletion {
    animation-name: shake;
    animation-duration: .2s;
    animation-timing-function: linear;
  }
}
@keyframes shake {
  0% { transform: translate(20px) }
  10% { transform: translate(-20px) }
  20% { transform: translate(20px) }
  30% { transform: translate(-20px) }
  40% { transform: translate(20px) }
  50% { transform: translate(-20px) }
  60% { transform: translate(20px) }
  70% { transform: translate(-20px) }
  80% { transform: translate(20px) }
  90% { transform: translate(-20px) }
  100% { transform: translate(0px) }
}

