.sl-layout {
  width: 100%;
  opacity: 1;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px $column-border-color;
  margin-bottom: 2px;
  min-height: 40px;
  background: $column-background-color;
  display: inline-block;
  .placeholder {
    background-color: $block-placeholder-background-color;
    border: 1px dotted $block-placeholder-border-color;
  }
  &.ui-sortable-helper {
    opacity: .9;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .3);
  }
}
