$column-count-total: 8;
$column-background-color: #ecf0f1;
$column-border-color: #bdc3c7;
$layout-placeholder-background-color: #B9CBE5;
$layout-placeholder-border-color: #CEE1FF;
$block-placeholder-background-color: #B9CBE5;
$block-placeholder-border-color: #CEE1FF;
$editbar-background-color: #333840;
$editbar-height: 40px;
$editbar-font-size: 20px;