$column-count-total: 8;
$column-background-color: #c6c6c6;
$column-border-color: #a9a9a9;
$layout-placeholder-background-color: #edfbff;
$layout-placeholder-border-color: #a6dbf3;
$block-placeholder-background-color: #edfbff;
$block-placeholder-border-color: #a6dbf3;