.simplelayout {
  min-height: 500px;
  background: #f00;
  z-index: 0;
  position: relative;
  .sl-block {
    background: #fff;
    position: absolute;
    height: auto;
    &.ui-draggable-dragging, &.ui-resizing {
      box-shadow: 0 0 70px 0 rgba(0, 0, 0, .75);
    }
    img {
      width: 80%;
    }
  }
}

